<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>

<span wicket:id="layout">
<h1>Einsamer Wolf</h1>

Du wachst auf einem Planeten auf, den du nicht kennst. Du weisst nicht
wer du bist, was du hier sollst. Und alles was du hast sind die Kleider
an deinem Leib, einen PDA und eine Handvoll Naniten.
<p />

Ein Neustart also. Dein altes Leben, mag es gut oder schlecht gewesen
sein, interessiert nicht mehr. Und du kannst dich neu entscheiden:
Blumenkind, Kriegsherr, Medienmogul, Wissenschftler,... du kannst sein
was du willst also mach was draus.
<p />

Allerdings ... <p />

... du weisst nicht mal ob du hier alleine bist! Als du ausgewacht bist,
dachtest du, du hŠttest einen Schatten vorbeihuschen sehen, aber das
kšnntest du dir auch eingebildet haben - weiss Gott was du mitgemacht
hast.
<p />

Wenigstens bist du gesund und bei klarem Verstand, aber wenn jetzt ein
Raubtier um die Ecke biegt, hast du ein Problem. Darum solltest du dir
zuerst einen Verschlag bauen und dann eine Handfeuerwaffe. Dazu reichen
deine Nanobots gerade noch.
<p />

<h2>Aufgaben</h2>

<ul>
	<li>Repliziere Ÿber das MenŸ "Naniten" eine "Planetare
	Grundstruktur"</li>
	<li>Dann repliziere Ÿber das MenŸ "Produktion" ein "Gewehr Mk. 1"</li>
</ul>

<h2>Belohnung</h2>

<ul>
	<li>Kampfkraft steigt um 1</li>
	<li>Reichweite im Kampf steigt auf 1 km</li>
</ul>


<h2>Status</h2>
<div wicket:id="status" />

</span>

</body>
</html>