<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>${title}</title>
</head>

<body>

<span wicket:id="layout">
<h1>Willkommen bei ${project.name} (${environmentId})!</h1>

open space ist ein browser-basiertes Echtzeit-Strategie-Spiel. Du
spielst das kollektive Bewusstsein einer handvoll Naniten. Deine Aufgabe
besteht darin, zu &uuml;berleben und dich weiterzuentwickeln. Du bewegst
dich durch Subraumportale von Planet zu Planet, suchst andere Naniten,
verb&uuml;ndest, trainierst und k&auml;mpfst mit ihnen. Du hast Zugriff
auf unbegrenzte Resourcen - und du hast die Wahl was du damit anstellst.
<p />


<div id="versionNotes">${version.notes}</div>

<p />

Neue Benutzer registrieren sich bitte, bereits registrierte Loggen sich
bitte links ein:
<p />

<div><span wicket:id="feedback" id="feedback" />


<div wicket:id="registerPanel" />

</div>
</span>

</body>
</html>