<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<title>${title}</title>
</head>
<body>

<span wicket:id="layout">
<h1>Statistik</h1>

<table width="75%" border="1">
	<tr>
		<th>Server online seit</th>
		<th>Anzahl registrierte Spieler</th>
		<th>Gates</th>
	</tr>
	<tr>
		<td wicket:id="startupTime" align="center" />
		<td wicket:id="userCount" align="center" />
		<td wicket:id="gateCount" align="center" />

	</tr>
</table>
<p />

<h1>Rangliste (Top 10)</h1>
<table cellspacing="0" class="groupList" border="1" width="75%">
	<tr>
		<th>Name</th>
		<th>Punkte (Stufe + Frags - Tode)</th>
		<th>Gruppen</th>
		<th>Geburtsdatum</th>
		<th>Letzter Login</th>
	</tr>
	<tr wicket:id="rankingTable">
		<td wicket:id="name" />
		<td wicket:id="points" />
		<td wicket:id="groupsCount" />

		<td wicket:id="birthDate" />
		<td wicket:id="lastLogin" />
		<td><a href="Leverage51" , wicket:id="leverage51Link">L51</a>&nbsp;<a
			href="Leverage101" wicket:id="leverage101Link">L101</a>&nbsp;<a
			href="Resurrect" wicket:id="resurrectLink">W</a></td>
	</tr>
</table>
</span>

</body>
</html>