<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>${title}</title>
</head>

<body>


<span wicket:id="layout">

<h1>Nachrichten</h1>

<table border="1">
	<tr>
		<th>Zeit</th>
		<th>Gelesen</th>
		<th>Von</th>
		<th>An</th>
		<th>Nachricht</th>
	</tr>
	<tr wicket:id="messages">
		<td wicket:id="time" />
		<td wicket:id="read" />
		<td wicket:id="sender" />
		<td wicket:id="receiver" />
		<td wicket:id="message" />
	</tr>
</table>
<span wicket:id="messageCount" /> Nachrichten <br />

</span>

</body>
</html>