<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>${title}</title>
</head>

<body>


<span wicket:id="layout">

<h1>Nachrichten</h1>

<table border="1" width="75%">
	<tr>
		<th align="left">Zeit</th>
		<th align="left">Gelesen</th>
		<th align="left">Von</th>
		<th align="left">An</th>

	</tr>
	<tr>
		<th colspan="4" align="left">Nachricht</th>
	</tr>
	<span wicket:id="messages">
	<tr>
		<td wicket:id="time" />
		<td wicket:id="read" />
		<td wicket:id="sender" />
		<td wicket:id="receiver" />
	</tr>
	<tr>
		<td colspan="4" wicket:id="message" />
	</tr>
	</span>
</table>
<span wicket:id="messageCount" /> Nachrichten <br />

</span>

</body>
</html>