<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>

<span wicket:id="layout">
<h1>Nicht reproduzierbar</h1>

Was zum Geier ist denn jetzt wieder kaputt ...
<p />

Ich weiss nicht wer ich bin und wo ich bin. Ich kann mich auch an nichts
erinnern was auch nur ne Millisekunde vor dem Zeitpunkt liegt, als ich
die Augen ge&ouml;ffnet habe. Auch der Speicher der Nanobots ist leer...
<p />

Seltsam. Welche Technologie knockt wohl Mensch <i>und</i> Maschine aus?
<p />
Naja. Ich sitze hier also auf dem Trockenen. K&ouml;nnte schlimmer sein. So
schlimm sieht der Planet gar nicht aus und ich hab noch NanoBots &uuml;brig.
Also - Hallo du ... Planet :)
<p />

Da hinten kommen irgendwie Wolken... wird wohl gleich regnen. Ich
glaube, ich baue mir erst mal eine Basis. Muss mir ja nicht gleich am
ersten Tag ne Erk&auml;ltung holen.

<h2>Aufgaben</h2>

<ul>
	<li>Repliziere &uuml;ber das Menu "Bauen" eine "Planetare
	Grundstruktur"</li>
</ul>

<h2>Belohnung</h2>

<ul>
	<li>+1 Talent-Punkte</li>
</ul>

<h2>Status</h2>

<div wicket:id="status" />

</span>

</body>
</html>