<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>open space</title>
<body>

<span wicket:id="layout">
<h1>Willkommen bei der Alpha von open space!</h1>

open space ist ein browser-basiertes Echtzeit-Strategie-Spiel. open
space befindet sich noch im Alpha-Stadium und enthält deshalb Fehler.
Sowohl die Betreiber als auch die Entwickler lehnen deshalb die Haftung
für jeden Schaden, der aufdiese Software zurückzuführen ist, ab.
<p />

Neue Benutzer registrieren sich bitte, bereits registrierte Loggen sich bitte links ein:
<p />

<div><span wicket:id="feedback" id="feedback" />


<div wicket:id="registerPanel" />

</div>
</span>

</body>
</html>