<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>open space ${project.artifactId} ${project.version}  (${profile})</title>
<body>

<span wicket:id="layout">
<h1>Willkommen bei open space ${project.artifactId} ${project.version}  (${profile})!</h1>

open space ist ein browser-basiertes Echtzeit-Strategie-Spiel. open
space befindet sich noch im Alpha-Stadium und enth&auml;lt deshalb
Fehler. Sowohl die Betreiber als auch die Entwickler lehnen deshalb die
Haftung f&uuml;r jeden Schaden, der auf diese Software
zur&uuml;ckzuf&uuml;hren ist, ab.
<p />

Ausserdem wurden bis jetzt lediglich administrative Teile implementiert;
deshalb ist diese Demo lediglich als sehr fr&uuml;he Version zu betrachten,
und zu nichts zu gebrauchen ausser als sehr einfacher proof of concept
des maven-poms, der Spring-Konfiguration und der Wicket-Application.. Links zu der Lizenz und den Sourcen finden sich im Footer.
<p />

Neue Benutzer registrieren sich bitte, bereits registrierte Loggen sich
bitte links ein:
<p />

<div><span wicket:id="feedback" id="feedback" />


<div wicket:id="registerPanel" />

</div>
</span>

</body>
</html>