<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>

<span wicket:id="layout">
<h1>Willkommen bei der Beta von Elysium!</h1>

Elysium ist ein browser-basiertes Echtzeit-Strategie-Spiel. Elysium
befindet sich noch im Beta-Stadium und enthŠlt dreshalb Fehler. Wir
Betreiber lehnen deshalb die Haftung fŸr jeden Schaden, der aufgrund der
Fehlerhaftigkeit der Software entstanden ist, ab.
<p />

Aber jetzt - registriere dich bitte:
<p />

<div><span wicket:id="feedback" id="feedback" />


<div wicket:id="registerPanel" />

</div>
</span>

</body>
</html>