<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>${title}</title>
</head>

<body>


<span wicket:id="layout"> <span wicket:id="feedback"
	id="feedback" />

<h1>&Uuml;berblick</h1>
<table width="75%" border="1">
	<tr>
		<td class="labelBox">Kollektiv-Name:</td>
		<td class="valueBox">
		<div wicket:id="name" />
		</td>
		<td class="labelBox">Stufe:</td>
		<td class="valueBox">
		<div wicket:id="level" />
		</td>
	</tr>

</table>

<h3>Unterprogramme</h3>

<table width="75%" border="1">

	<tr>
		<th>Name</th>
		<th>Stufe</th>
		<th>Fortschritt</th>
		<th>Beschreibung</th>
	</tr>
	<tr wicket:id="talents">
		<td wicket:id="label" />
		<td><span wicket:id="level" /></td>
		<td><span wicket:id="togo" /></td>
		<td wicket:id="description" />
	</tr>
</table>

</span>

</body>
</html>