<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>


<span wicket:id="layout"> <span wicket:id="feedback"
	id="feedback" />

<h1>&Uuml;bersicht - Avatar</h1>
<table width="75%" border="1">
	<tr>
		<td class="labelBox">Name:</td>
		<td class="valueBox">
		<div wicket:id="name" />
		</td>
		<td class="labelBox">Stufe:</td>
		<td class="valueBox">
		<div wicket:id="level" />
		</td>
		<td class="labelBox">XP / TP:</td>
		<td class="valueBox" wicket:id="xp" />
	</tr>

	<tr>
		<td class="labelBox">Location:</td>
		<td class="valueBox">
		<div wicket:id="position" />
		</td>
		<td class="labelBox">Geburtsdatum:</td>
		<td class="valueBox">
		<div wicket:id="creationDate" />
		</td>
		<td class="labelBox">Spieler:</td>
		<td class="valueBox">
		<div wicket:id="controller" />
		</td>
	</tr>
	<tr>
		<td colspan="1" class="labelBox">Talente:</td>
		<td class="valueBox" colspan="5" wicket:id="talents" />
	</tr>
</table>




<!----> <!--<h3>Naniten</h3>--> <!--<table width="75%" border="1">--> <!--	<tr>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile1" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile2" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile3" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile4" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile5" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile6" /></td>-->
<!--	</tr>	--> <!--	<tr>--> <!--		<td class="quickLinkBox6"><div wicket:id="nanitePile7" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile8" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile9" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile10" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile11" /></td>-->
<!--		<td class="quickLinkBox6"><div wicket:id="nanitePile12" /></td>-->
<!--	</tr>	--> <!----> <!--</table>--> </span>

</body>
</html>