<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<title>${title}</title>
</head>

<body>

<span wicket:id="layout"> <span wicket:id="feedback"
	id="feedback" />
<h1>Avatar erstellen</h1>

<form wicket:id="createAvatarForm"><!--<div>Auf dieser Seite erstellst du deinen Avatar, deinen K&ouml;rper,-->
<!--dein Sprachrohr innerhalb Elysium. Er ist das Zentrum deines Wirkens.-->
<!--Wird er get&ouml;tet, ist das Spiel f&uuml;r dich vorbei. Also &uuml;berlege dir gut,-->
<!--wie du ihn ausstattest.</div>--> <!--<h2>Pers&ouml;nlichkeit</h2>-->
<!--Hier entscheidest du, welche Art von Mensch du spielen willst. Es ist-->
<!--nicht die Frage ob gut oder schlecht, sondern wo deine Talente liegen.-->
<!--<p />--> <!----> <!--<h3>Milit&auml;r</h3>--> <!--Dein Leben ist der Kampf. Du teils Menschen in Freund und Feind, und-->
<!--entsprechend handelst du. Dein Ziel ist die milit&auml;rische Kontrolle,-->
<!--alles andere ist Mittel zum Zweck. Spielt sich ein bisschen--> <!--eindimensional aber sehr unabh&auml;ngig von anderen Spielern. Hat es am-->
<!--Anfang leichter, dann aber immer schwerer. beginne fr&uuml;h zu erobern!-->
<!--<p />--> <!--<h3>Ingenieur</h3>--> <!--Dein Schwerpunkt sind Maschinen und Dinge, nicht Menschen. Du bist-->
<!--gl&uuml;cklich, wenn du wieder mal etwas zusammenbauen durftest - wof&uuml;r etwas-->
<!--gebaut wurde, interessiert dich erst zweitrangig. Du dienst als--> <!--Technologielieferant f&uuml;r andere. Beginnt mittelschwer, sp&auml;ter brauchtst-->
<!--du Verb&uuml;ndete, die keine Ingenieure sind. Deine St&auml;rke sind deine-->
<!--Naniten, also mach sie stark!--> <!--<p />--> <!--<h3>Bewahrer</h3>-->
<!--Dein zentrales Thema ist das Gleichgewicht der Kr&auml;fte. Du kennst dich in-->
<!--der Natur aus, du kannst es gut mit Menschen, und du beherrschst so-->
<!--manchen Zaubertrick. Du bist ein miserabler Krieger - dein Einfluss-->
<!--w&auml;chst mit dem deiner Freunde. Beginnt sehr gem&auml;chlich und verwundbar,-->
<!--wird aber ohne Limit immer st&auml;rker. Such dir Ingenieure und Milit&auml;r als-->
<!--Verb&uuml;ndete, die dich am Anfang unterst&uuml;tzen und besch&uuml;tzen.-->
<!--<p />--> Bitte w&auml;hle deine Rasse : <br />
<span valign="top" wicket:id="personality"> <br />
<input type="radio">first choice</input> <input type="radio">second
choice</input> </span><br />
<p />

Du bis das kollektive Bewusstsein eines Naniten-Schwarms: du lebst und
f&auml;llst mit dem Schwarm - solange noch ein einzges Nanit deines
Schwarms aktiv ist, bist du im Spiel. W&auml;hle hier einen Namen
f&uuml;r deinen Schwarm, mit dem dich die Mitspieler anreden sollen:<br />

<input wicket:id="name" />
<p />

<input type="submit" value="Create" /></form>

</span>

</body>
</html>