<?xml version="1.0" encoding="UTF-8"?>


<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:annotation-config />
	<!-- <context:component-scan base-package="net.micwin.openspace" /> -->

	<!-- =================================================== -->
	<!-- =========== configuring persistence layer ======= -->
	<!-- =================================================== -->

	<import resource="datasource-bean.xml" />


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">${database.dialect}</prop>
				<prop key="hibernate.connection.pool_size">${database.poolSize}</prop>
				<!-- <prop key="hibernate.transaction.factory_class"> org.hibernate.transaction.JTATransactionFactory</prop> -->
				<!-- <prop key="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTSStandaloneTransactionManagerLookup</prop> -->

				<!-- <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory -->
				<!-- </prop> -->
				<prop key="hibernate.connection.release_mode">after_transaction</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<!-- prop key="hibernate.show_sql">${database.showSql}</prop -->
				<prop key="hibernate.show_sql">false</prop>

				<prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
				<!-- <prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</prop> -->

				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>

				<prop key="hibernate.hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="net.micwin.openspace.entities" />
	</bean>

	<!-- =================================================== -->
	<!-- =========== configuring transaction manager ======= -->
	<!-- =================================================== -->

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<!-- =================================================== -->
	<!-- ===================== configuring dao layer ======= -->
	<!-- =================================================== -->

	<bean id="userDao" class="net.micwin.openspace.dao.hibernate.HibernateUserDao">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<bean id="avatarDao" class="net.micwin.openspace.dao.hibernate.HibernateAvatarDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="sysParamDao" class="net.micwin.openspace.dao.hibernate.HibernateSysParamDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="nanitesDao" class="net.micwin.openspace.dao.hibernate.HibernateNanitesDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="galaxyDao" class="net.micwin.openspace.dao.hibernate.HibernateGalaxyDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="bluePrintDao" class="net.micwin.openspace.dao.hibernate.HibernateBluePrintDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="buildPlanDao" class="net.micwin.openspace.dao.hibernate.HibernateBuildPlanDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="talentsDao" class="net.micwin.openspace.dao.hibernate.HibernateTalentsDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="gatesDao" class="net.micwin.openspace.dao.hibernate.HibernateGatesDao">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="organizationDao" class="net.micwin.openspace.dao.hibernate.HibernateOrganizationDao">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<bean id="messageDao" class="net.micwin.openspace.dao.hibernate.HibernateMessageDao">
		<constructor-arg ref="sessionFactory" />
	</bean>

	<bean id="daoManager" class="net.micwin.openspace.dao.DaoManager"
		autowire="byName" />

	<bean id="dbConsistencyEnsurer" class="net.micwin.openspace.entities.DatabaseConsistencyEnsurer"
		autowire="byName" />


	<!-- =================================================== -->
	<!-- =========== configuring jee persistence =========== -->
	<!-- =================================================== -->


	<!-- <bean id="openSessionInViewFilter" -->
	<!-- class="org.springframework.orm.hibernate3.support.OpenSessionInViewFilter"> -->
	<!-- <property name="flushMode" value="AUTO" /> -->
	<!-- <property name="singleSession" value="true" /> -->
	<!-- </bean> -->

	<bean id="elysiumFilter" class="net.micwin.openspace.jee.OpenSpaceFilter">
		<property name="sf" ref="sessionFactory" />
		<property name="sessionTxEnabled" value="true" />
		<property name="dbConsistencyEnsurer" ref="dbConsistencyEnsurer" />
	</bean>





	<!-- =================================================== -->
	<!-- ================ configuring advancer ============= -->
	<!-- =================================================== -->

	<bean id="advancer" class="net.micwin.openspace.jobs.AdvancerTask" />

	<bean id="advancerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="60000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="advancer" />
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="advancerTask" />
			</list>
		</property>
	</bean>

	<!-- =================================================== -->
	<!-- =============== configuring application =========== -->
	<!-- =================================================== -->


</beans>