<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<body>

<span wicket:id="layout">
<h1>Willkommen bei ${project.name} (${environmentId})!</h1>

open space ist ein browser-basiertes Echtzeit-Strategie-Spiel.
<p />

<div id="versionNotes">${version.notes}</div>

<p />

Neue Benutzer registrieren sich bitte, bereits registrierte Loggen sich
bitte links ein:
<p />

<div><span wicket:id="feedback" id="feedback" />


<div wicket:id="registerPanel" />

</div>
</span>

</body>
</html>