<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>${title}</title>
</head>

<body>


<span wicket:id="layout">

<h1>Kolosse</h1>


<span wicket:id="feedback" id="feedback" />

<table cellspacing="0" class="colossusList" border="1" width="75%">
	<tr>
		<th>ID</th>
		<th>Stufe</th>
		<th>Wartungs-Naniten</th>
		<th>K&auml;mpfe</th>
		<th>Position</th>
		<th>Gate-Adresse</th>
		<th>Status</th>
	</tr>
	<tr wicket:id="colosussesTable">
		<td wicket:id="id" />
		<td wicket:id="level" />
		<td wicket:id="mainetanceNanites" />
		<td wicket:id="battleCount" />
		<td wicket:id="position" />
		<td wicket:id="gateAdress" />
		<td wicket:id="state" />
	</tr>
</table>

</span>



</body>
</html>