<html>
<head>

</head>
<body>
<wicket:panel>

	<h1>Komponenten</h1>
	<table border="1" width="75%">
		<tr>
			<td>Freie Slots :</td>
			<td><span wicket:id="freeSlots" /></td>
		</tr>
		<tr>
			<td width="25%">Naniten-Katapulte</td>
			<td width="10%"><span wicket:id="catapults" /> <a
				wicket:id="raiseCatapults">+</a></td>
			<td>Naniten-Katapulte sind Langstreckenwaffen, die, bevor es zum
			Nahkampf kommt, je eine Naniten-Gruppe verschiesst, die kurz vor dem
			Aufprall eine Kernexplosion ihrer Atome initiieren und immensen
			Schaden anrichten. Jeder Katapult schiesst genau einmal - die Menge
			der verschossenen Naniten richtet sich dabei nach der Nanitenzahl
			dieser Gruppe. Die Abschussreihenfolge wird durch den
			Kampfz&auml;hler der Kombattanten bestimmt - je mehr Kampferfahrung,
			desto eher die Chance, als erster zu schiessen.</td>
		</tr>
		<tr>
			<td width="25%">Naniten-Slots</td>
			<td width="10%"><span wicket:id="naniteSlots" /> <a
				wicket:id="raiseNaniteSlots">+</a></td>
			<td>Naniten-Slots sind Aufh&auml;ngungen innerhalb der
			Nanitenstruktur, die der Aufnahme anderer Nanitengruppen dienen. Pro
			Slot kann eine Nanitengruppe beliebiger Gr&ouml;sse aufgenommen
			werden - jedoch nur Gruppen geringerer Gruppenstufe als die
			aufnehmende Gruppe.</td>
		</tr>
	</table>

</wicket:panel>

</body>
</html>