<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>


<span wicket:id="layout">

<h1>Naniten-Gruppe</h1>

<table cellspacing="0" class="detailsTable" border="1" width="75%">
	<tr>
		<th>Position (Gate-Code)</th>
		<th>Anzahl</th>
		<th>Status</th>
	</tr>
	<tr>
		<td><span wicket:id="groupPosition">[position]</span></td>
		<td><span wicket:id="groupCount">[count]</span></td>
		<td><span wicket:id="groupState">[state]</span></td>
	</tr>
</table>


<span wicket:id="feedback" id="feedback" /> </span>



</body>
</html>