<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">

<head>
<title>${title}</title>
</head>

<body>


<span wicket:id="layout">

<h1>Kollektiv</h1>

<table cellspacing="0" class="groupList" border="1" width="75%">
	<tr>
		<th>ID</th>
		<th>Position</th>
		<th>Gate-Adresse</th>
		<th>Anzahl</th>
		<th>Status</th>
		<th>K&auml;mpfe</th>
	</tr>
	<tr wicket:id="groupsTable">
		<td wicket:id="groupId" />
		<td><a wicket:id="groupPosition"><span wicket:id="label" /></a></td>
		<td><span wicket:id="gateAdress" /><a wicket:id="jumpGate">--&gt;</a></td>
		<td><span wicket:id="groupCount">[count]</span>&nbsp;<a
			wicket:id="doubleCount">*2</a>&nbsp;<a wicket:id="entrench">E</a>&nbsp;<a
			wicket:id="split">&lt;-&gt;</a>&nbsp;<a wicket:id="kill">X</a></td>
		<td><span wicket:id="groupState">[state]</span></td>
		<td wicket:id="battleCount" />
	</tr>
</table>


<span wicket:id="feedback" id="feedback" /> </span>



</body>
</html>