<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
<title>${title}</title>
</head>

<body>


<span wicket:id="layout">

<h3 wicket:id="titleText" />

<table cellspacing="0" class="detailsTable" border="1" width="75%">
	<tr>
		<th>ID</th>
		<th>Stufe</th>
		<th>Position</th>
		<th>Gate-Adresse</th>
		<th>Status</th>
		<th>Signatur-St&auml;rke</th>
		<th>Anzahl</th>
	</tr>
	<tr>
		<td wicket:id="groupId" />
		<td style="text-align: center"><span wicket:id="groupLevel" /><a
			wicket:id="upgrade">+</a>&nbsp;<a wicket:id="reform" title="Umbauen">U</a></td>
		<td><span wicket:id="groupPosition">[position]</span>&nbsp;<a
			wicket:id="exit" title="Verlassen">V</a></td>
		<td><span wicket:id="groupGate">[gate]</span>&nbsp;<a
			wicket:id="jumpGate" title="Springen">--&gt;</a></td>
		<td><span wicket:id="groupState">[state]</span></td>
		<td><span wicket:id="signatureStrength">[cloakStrength]</span></td>
		<td><span wicket:id="groupCount">[groupCount]</span> &nbsp;<a
			wicket:id="doubleCount" title="Verdoppeln">*2</a>&nbsp;<a
			wicket:id="split" title="Teilen">&lt;-&gt;</a></td>

	</tr>
</table>
<p />


<span wicket:id="envState" />

<h3>Bekannte und &ouml;ffentliche Sprungziele (klicken um sofort zu
springen)</h3>

<table cellspacing="0" class="detailsTable" border="1" width="75%">
	<tr>
		<td><a wicket:id="jumpHome">Heimat</a></td>
		<td><a wicket:id="jumpArena">Arena</a></td>
		<td><a wicket:id="jumpElysium">Elysium</a></td>
	</tr>
</table>

<p />

<span wicket:id="components" />

<p />

<h3>Andere Naniten-Gruppen</h3>

<table cellspacing="0" class="detailsTable" border="1" width="75%">

	<tr>
		<th>Kollektiv</th>
		<th>Gruppen-Stufe</th>
		<th>Signatur</th>
		<th>Anzahl</th>
		<th>Kommandos</th>
	</tr>
	<tr wicket:id="otherNanitesTable">
		<td style="text-align: center"><a href="skjdhkh"
			wicket:id="ownerLink"><span wicket:id="owner" /></a> / <span
			wicket:id="level" /></td>
		<td style="text-align: center" wicket:id="groupLevel" />
		<td wicket:id="signature" />
		<td wicket:id="count" />

		<td><a wicket:id="attack">A</a>&nbsp;<a wicket:id="sendMessage">N</a><a
			wicket:id="enter">B</a></td>
	</tr>

</table>

<span wicket:id="feedback" id="feedback" /> </span>



</body>
</html>