<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>


<span wicket:id="layout">

<h1>Naniten-Gruppe</h1>

<table cellspacing="0" class="detailsTable" border="1" width="75%">
	<tr>
		<th>Position</th>
		<th>Gate-Adresse</th>
		<th>Anzahl</th>
		<th>Status</th>
	</tr>
	<tr>
		<td><span wicket:id="groupPosition">[position]</span></td>
		<td><span wicket:id="groupGate">[gate]</span></td>
		<td><span wicket:id="groupCount">[count]</span></td>
		<td><span wicket:id="groupState">[state]</span></td>
	</tr>
</table>


<p />

<h3>Sprungziele in Sensor-Reichweite (klicken um sofort zu
springen)</h3>

<table cellspacing="0" class="detailsTable" border="1" width="75%">
	<tr>
		<td><a wicket:id="jumpToP0"><span wicket:id="label" /> </a></td>
		<td><a wicket:id="jumpToP1"><span wicket:id="label" /></a></td>
		<td><a wicket:id="jumpToP2"><span wicket:id="label" /></a></td>
	</tr>
</table>

<h3>Andere Parteien</h3>

<table cellspacing="0" class="detailsTable" border="1" width="75%">

	<tr>
		<th>Avatar</th>
		<th>St&auml;rke</th>
		<th>Kommandos</th>
	</tr>
	<tr wicket:id="otherNanitesTable">
		<td wicket:id="owner" />
		<td wicket:id="strength" />
		<td wicket:id="commands" />

	</tr>

</table>

<span wicket:id="feedback" id="feedback" /> </span>



</body>
</html>