<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<title>Elysium</title>
<body>

<span wicket:id="layout"> <span wicket:id="feedback"
	id="feedback" />
<h1>Avatar erstellen</h1>

<form wicket:id="createAvatarForm">
<div>Auf dieser Seite erstellst du deinen Avatar, deinen Kšrper,
dein Sprachrohr innerhalb Elysium. Er ist das Zentrum deines Wirkens.
Wird er getštet, ist das Spiel fŸr dich vorbei. Also Ÿberlege dir gut,
wie du ihn ausstattest.</div>

<!--<h2>Persšnlichkeit</h2>-->
<!--Hier entscheidest du, welche Art von Mensch du spielen willst. Es ist-->
<!--nicht die Frage ob gut oder schlecht, sondern wo deine Talente liegen.-->
<!--<p />-->
<!---->
<!--<h3>MilitŠr</h3>-->
<!--Dein Leben ist der Kampf. Du teils Menschen in Freund und Feind, und-->
<!--entsprechend handelst du. Dein Ziel ist die militŠrische Kontrolle,-->
<!--alles andere ist Mittel zum Zweck. Spielt sich ein bisschen-->
<!--eindimensional aber sehr unabhŠngig von anderen Spielern. Hat es am-->
<!--Anfang leichter, dann aber immer schwerer. beginne frŸh zu erobern!-->
<!--<p />-->

<h3>Ingenieur</h3>
Dein Schwerpunkt sind Maschinen und Dinge, nicht Menschen. Du bist
glŸcklich, wenn du wieder mal etwas zusammenbauen durftest - wofŸr etwas
gebaut wurde, interessiert dich erst zweitrangig. Du dienst als
Technologielieferant fŸr andere. Beginnt mittelschwer, spŠter brauchtst
du VerbŸndete, die keine Ingenieure sind. Deine StŠrke sind deine
Naniten, also mach sie stark!
<p />

<!--<h3>Bewahrer</h3>-->
<!--Dein zentrales Thema ist das Gleichgewicht der KrŠfte. Du kennst dich in-->
<!--der Natur aus, du kannst es gut mit Menschen, und du beherrschst so-->
<!--manchen Zaubertrick. Du bist ein miserabler Krieger - dein Einfluss-->
<!--wŠchst mit dem deiner Freunde. Beginnt sehr gemŠchlich und verwundbar,-->
<!--wird aber ohne Limit immer stŠrker. Such dir Ingenieure und MilitŠr als-->
<!--VerbŸndete, die dich am Anfang unterstŸtzen und beschŸtzen.-->
<!--<p />-->

Bitte wŠhle : <br />
<span valign="top" wicket:id="personality"> <br />
<input type="radio">first choice</input> <input type="radio">second
choice</input> </span><br />
<p />

<h2>Name</h2>
Nun wŠhle einen Namen, der deinen Avatar gut beschreibt und zur
ausgewŠhlten Persšnlichkeit passt. <br />
<input wicket:id="name" />
<p />

<input type="submit" value="Create" /></form>

</span>

</body>
</html>